---
import Layout from "../layouts/Layout.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { CldUploadWidget } from "astro-cloudinary";
import { Pointer, Sparkles, Zap, Image } from "lucide-react";
---

<Layout title="AIlloween">
	<main class="flex-1">
		<section
			class="w-full bg-black text-white py-12 md:py-24 lg:py-32 xl:py-48"
		>
			<div class="px-4 md:px-6">
				<div
					class="flex flex-col items-center justify-center space-y-4 text-center"
				>
					<div class="space-y-4">
						<h1
							class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none"
						>
							Create Spooktacular Costumes with <span class="text-gradient"
								>AIlloween</span
							>
						</h1>
						<p class="mx-auto max-w-[700px] text-gray-300 md:text-2xl">
							Unleash your creativity with our AI-powered costume generator.
							Design unique, personalized Halloween costumes in seconds!
						</p>
					</div>
					<div class="space-x-4">Drag n drop component</div>
				</div>
			</div>
		</section>

		<section
			class="w-full bg-orange-100 text-black py-12 md:py-24 lg:py-32 xl:py-48"
		>
			<div class="px-4 md:px-6">
				<h2
					class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12"
				>
					How it Works
				</h2>
				<div
					class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
				>
					<Card>
						<CardHeader>
							<Pointer className="w-12 h-12 text-orange-500 mb-4" size={48} />
							<CardTitle>Select Your Costume</CardTitle>
						</CardHeader>
						<CardContent>
							Let our AI know what kind of costume you want to try!
						</CardContent>
					</Card>

					<Card>
						<CardHeader>
							<Sparkles
								className="w-12 h-12 text-orange-500 mb-4"
								size="{48}"
							/>
							<CardTitle>AI Magic</CardTitle>
						</CardHeader>
						<CardContent>
							Cloudinary advanced AI processes your selection and generates
							unique previews
						</CardContent>
					</Card>

					<Card>
						<CardHeader>
							<Zap className="w-12 h-12 text-orange-500 mb-4" size="{48}" />
							<CardTitle>Instant Results</CardTitle>
						</CardHeader>
						<CardContent>
							Get your custome design in seconds, ready to be shared
						</CardContent>
					</Card>

					<Card>
						<CardHeader>
							<Image className="w-12 h-12 text-orange-500 mb-4" size="{48}" />
							<CardTitle>Spooky Scary Background</CardTitle>
						</CardHeader>
						<CardContent>
							Replace the background with a spooky scary Halloween themed one
						</CardContent>
					</Card>
				</div>
			</div>
		</section>

		<CldUploadWidget
			id="cld-upload-widget"
			uploadPreset="ailloween"
			options={{
				sources: ["local"],
				multiple: false,
			}}
		>
			<Button>Upload</Button>
		</CldUploadWidget>

		<img id="main-img" src="" alt="" />

		<select disabled name="costume-select" id="costume-select">
			<option value="" selected disabled>Select a costume</option>
			<option value="michael myers">Michael Myers</option>
			<option value="freddy krueger">Freddy Krueger</option>
			<option value="joker">The Joker</option>
		</select>
		<label for="chk-replace-bg"
			>Add <span class="text-gradient">spooky scary</span> background
			<input
				disabled
				type="checkbox"
				name="chk-replace-bg"
				id="chk-replace-bg"
			/>
		</label>
		<Button disabled id="btn-generate-costume">Generate</Button>
	</main>
</Layout>

<script>
	import { getCldImageUrl } from "astro-cloudinary/helpers";
	import type { CloudinaryUploadEvent } from "@/types/cloudinary/uploadEvent";
	import type { ImageOptions } from "@cloudinary-util/url-loader";

	const cldUploadWidget = document.querySelector("#cld-upload-widget");
	const mainImg = document.querySelector("#main-img") as HTMLImageElement;
	const costumeSelect = document.querySelector(
		"#costume-select",
	) as HTMLSelectElement;
	const btnGenerateCostume = document.querySelector(
		"#btn-generate-costume",
	) as HTMLButtonElement;
	const chkReplaceBg = document.querySelector(
		"#chk-replace-bg",
	) as HTMLInputElement;

	if (cldUploadWidget) {
		cldUploadWidget.addEventListener("clduploadwidget:success", ((
			e: CustomEvent<CloudinaryUploadEvent>,
		) => {
			const { detail } = e;
			console.log(detail);
			const url = detail.info.secure_url;
			mainImg.src = url;
			mainImg.alt = detail.info.original_filename;
			mainImg.dataset.publicId = detail.info.public_id;
			costumeSelect.disabled = false;
		}) as EventListener);
	}

	costumeSelect.addEventListener("change", () => {
		btnGenerateCostume.disabled = false;
		chkReplaceBg.disabled = false;
	});

	btnGenerateCostume.addEventListener("click", () => {
		const selectedCostume = costumeSelect.value;
		const imageId = mainImg.dataset.publicId ?? "";

		if (!selectedCostume || !imageId) {
			return;
		}

		const options: ImageOptions = {
			src: imageId,
			replace: {
				from: "wearings",
				to: `${selectedCostume} makeup and costume for Halloween`,
				preserveGeometry: true,
			},
		};

		if (chkReplaceBg.checked) {
			options.replaceBackground = {
				prompt: "spooky scary halloween background",
			};
		}

		const transformedUrl = getCldImageUrl(options);

		mainImg.src = transformedUrl;
	});
</script>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
