---
import Layout from "../layouts/Layout.astro";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { Camera, Pointer, Sparkles, Zap, Image } from "lucide-react";
import Dropzone from "@/components/ui/dropzone";
---

<Layout title="AIlloween">
	<section
		id="hero"
		class="w-full h-screen bg-black text-white py-12 md:py-24 lg:py-32 xl:py-64 inset-0 bg-[url('/hero.webp')] bg-cover bg-center"
	>
		<div
			class="flex flex-col items-center justify-center space-y-4 text-center px-4 md:px-6"
		>
			<h1
				class="text-7xl font-bold mb-12 tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none"
			>
				Create Spooktacular Costumes with <span class="text-gradient"
					>AIlloween</span
				>
			</h1>
			<p class="mx-auto max-w-[55ch] text-white font-medium text-3xl">
				Unleash your creativity with our AI-powered costume generator. Preview
				popular Halloween costumes in seconds!
			</p>
			<div class="pt-12 space-x-4">
				<Dropzone client:load />
			</div>
		</div>
	</section>

	<section
		id="how-it-works"
		class="w-full h-screen bg-slate-950 text-white py-12 md:py-24 lg:py-32"
	>
		<div class="px-4 md:px-6">
			<h2
				class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12"
			>
				How it Works
			</h2>
			<div
				class="py-28 text-lg container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-16"
			>
				<a class="transition-transform hover:scale-[1.01]" href="#hero">
					<Card>
						<CardHeader>
							<Camera className="w-12 h-12 text-orange-500 mb-4" size={48} />
							<CardTitle className="text-xl">Upload your photo</CardTitle>
						</CardHeader>
						<CardContent>
							Upload a photo of yourself to get started with our AI costume
						</CardContent>
					</Card>
				</a>

				<Card>
					<CardHeader>
						<Pointer className="w-12 h-12 text-orange-500 mb-4" size={48} />
						<CardTitle className="text-xl">Select Your Costume</CardTitle>
					</CardHeader>
					<CardContent>
						Let our AI know what kind of costume you want to try!
					</CardContent>
				</Card>

				<Card>
					<CardHeader>
						<Sparkles className="w-12 h-12 text-orange-500 mb-4" size="{48}" />
						<CardTitle className="text-xl">AI Magic</CardTitle>
					</CardHeader>
					<CardContent>
						Cloudinary advanced AI processes your selection and generates a
						unique preview
					</CardContent>
				</Card>

				<Card>
					<CardHeader>
						<Zap className="w-12 h-12 text-orange-500 mb-4" size="{48}" />
						<CardTitle className="text-xl">Lightning Results</CardTitle>
					</CardHeader>
					<CardContent>
						Get your custome design in less that a minute, ready to be shared
					</CardContent>
				</Card>
				<Card>
					<CardHeader>
						<Image className="w-12 h-12 text-orange-500 mb-4" size="{48}" />
						<CardTitle className="text-xl">Spooky Scary Background</CardTitle>
					</CardHeader>
					<CardContent>
						Replace the background with a spooky scary 🎃 Halloween themed one
					</CardContent>
				</Card>
			</div>
		</div>
	</section>

	<section
		id="examples"
		class="w-full h-screen bg-orange-100 text-black py-12 md:py-24 lg:py-32"
	>
	</section>
</Layout>

<script></script>

<style>
	h1 {
		text-shadow: 0 0 20px rgba(0, 0, 0, 1);
	}

	h1 + p {
		text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	}
	span:is(.text-gradient) {
		text-shadow: none;
	}

	section#hero {
		mask-image: linear-gradient(
			transparent 0%,
			black 20%,
			black 80%,
			transparent 100%
		);
	}
</style>
