---
import { Button } from "@/components/ui/button";
import { Tabs } from "@/components/tabs";
import Layout from "@/layouts/Layout.astro";
import { getCldImageUrl } from "astro-cloudinary/helpers";

const { searchParams } = Astro.url;
const id = searchParams.get("id");

if (id == null) return Astro.redirect("/");

const url = getCldImageUrl({ src: id });
console.log({ url });

import costumes from "@/data/costumes.json";
---

<Layout title="Photo Booth">
  <main class="p-4">
    <div class="w-full h-64 flex gap-4">
      <div class="w-1/2 grid items-center">
        <img
          id="main-img"
          src={url}
          alt="Uploaded Image"
          class="w-full h-full object-cover rounded-sm"
        />
      </div>
      <div class="w-1/2">
        <Tabs data={costumes} client:load />
      </div>
    </div>
  </main>
</Layout>

<script></script>
